<div class="seven-col">
  <p class="filename"><a href="{{ asset.url }}">{{ asset.file_path }}</a></p>
  
  
  <p class="metadata">
      <strong>Tags:</strong>
      {% if asset.tags %}
          {{ asset.tags }}
      {% else %}
          <em>none</em>
      {% endif %}
      <a href="/update?file-path={{ asset.file_path }}">change</a>
  </p>
  
  <p class="metadata">
      <strong>Created:</strong>
      {{ asset.created }}
  </p>
</div>

{% if asset.image %}
<div class="align-center two-col last-col">
  <a href="{{ asset.url }}">
    <img src="{{ asset.url }}?max-height=100&amp;max-width=100" />
  </a>
</div>
{% endif %}