<div class="three-col">
  <h3>Filters</h3>
  <ul class="no-bulets list">
    <li{% if type == 'svg' %} class='current'{% endif %}><a href="/?q={{ query }}&amp;type=svg">svg</a></li>
    <li{% if type == 'png' %} class='current'{% endif %}><a href="/?q={{ query }}&amp;type=png">png</a></li>
    <li{% if type == 'jpeg' %} class='current'{% endif %}><a href="/?q={{ query }}&amp;type=jpeg">jpeg</a></li>
    <li{% if type == 'jpg' %} class='current'{% endif %}><a href="/?q={{ query }}&amp;type=jpg">jpg</a></li>
    <li{% if type == 'gif' %} class='current'{% endif %}><a href="/?q={{ query }}&amp;type=gif">gif</a></li>
    <li{% if type == 'pdf' %} class='current'{% endif %}><a href="/?q={{ query }}&amp;type=pdf">pdf</a></li>
    <li><a href="/?q={{ query }}">Clear filter</a></li>
  </ul>
</div>

<ul class="nine-col last-col assets no-bullets">
{% for asset in assets %}
    <li class="box clearfix asset">
    {% include "includes/asset.html" %}
    </li>
{% endfor %}
</ul>

<style type="text/css">
  li.current a {
    color: #333;
  }