<div class="col-4 p-card">
  {% if asset.image %}
  <a href="{{ asset.url }}" target="_blank">
    <img class="p-card__thumbnail p-image--bordered asset-thumbnail" src="{{ asset.url }}">
  </a>
  <hr class="u-sv1">
  {% endif %}
  <div class="p-card__content">
    <p><strong>{{ asset.file_path }}</strong></p>
    <p><span><a href="/update?file-path={{ asset.file_path }}">Tags</a>: {{ asset.tags|default("None", true) }}</span></p>
    <p><span>Created: {{ asset.created }}</span></p>
    <p>
      <small>Copy:</small>
      <button class="p-button--positive copy-link is-inline" data-url="{{ asset.url }}" data-type="copy">Link</button>
      <button class="p-button copy-link" data-url="{{ asset.url }}" data-type="image_tag">Image tag</button>
    </p>
  </div>
</div>
