{% extends "_layout.html" %}

{% block title %}Create assets{% endblock %}

{% block content %}
<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      <h2>Create asset(s)</h2>
      <div class="p-notification--caution">
        <div class="p-notification__content">
          <h5 class="p-notification__title">Temporarily disabled</h5>
          <p class="p-notification__message">As we are upgrading the assets server, creating new assets is momentarily disabled.
          <br/>  
          For more info you can reach to us on mattermost: <a href="https://chat.canonical.com/canonical/channels/web--design">~Web & design</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
