{% extends "_layout.html" %}

{% block title %}Search assets{% endblock %}

{% block content %}
<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-12">
      <form action="/" class="p-form p-form--inline search">
        <div class="p-form__group">
          <div class="p-form__control u-clearfix">
            <input type="search" class="p-form__control" name="q" placeholder="Search" value="{{ query }}">
          </div>
        </div>
        <div class="p-form__group">
          <div class="p-form__control u-clearfix">
            <select name="type" onchange="this.form.submit()">
              <option {% if not type %} selected {% endif %} value="">any</option>
              <option {% if type == "svg" %} selected {% endif %} value="svg">svg</option>
              <option {% if type == "png" %} selected {% endif %} value="png">png</option>
              <option {% if type == "jpeg" %} selected {% endif %} value="jpeg">jpeg</option>
              <option {% if type == "jpg" %} selected {% endif %} value="jpg">jpg</option>
              <option {% if type == "gif" %} selected {% endif %} value="gif">gif</option>
              <option {% if type == "pdf" %} selected {% endif %} value="pdf">pdf</option>
            </select>
          </div>
        </div>
        <button class="p-button--positive">Search</button>
      </form>
    </div>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row u-clearfix">
    {% if assets %}
    {% include "_asset-list.html" %}
    {% else %}
    <h3>No assets found.</h3>
    {% endif %}
  </div>
</div>
<script>
  function copyToClipboard(str) {
    var el = document.createElement('textarea'); // Create a <textarea> element
    el.value = str; // Set its value to the string that you want copied
    el.setAttribute('readonly', ''); // Make it readonly to be tamper-proof
    el.style.position = 'absolute';
    el.style.left = '-9999px'; // Move outside the screen to make it invisible
    document.body.appendChild(el); // Append the <textarea> element to the HTML document
    var selected =
      document.getSelection().rangeCount > 0 // Check if there is any content selected previously
      ?
      document.getSelection().getRangeAt(0) // Store selection if found
      :
      false; // Mark as false to know no selection existed before
    el.select(); // Select the <textarea> content
    document.execCommand('copy'); // Copy - only works as a result of a user action (e.g. click events)
    document.body.removeChild(el); // Remove the <textarea> element
    if (selected) {
      // If a selection existed before copying
      document.getSelection().removeAllRanges(); // Unselect everything on the HTML document
      document.getSelection().addRange(selected); // Restore the original selection
    }
  };

  var copyButtons = document.querySelectorAll('.copy-link');
  for (var copyButton of copyButtons) {
    copyButton.addEventListener(
      'click',
      function (e) {
        copyToClipboard(e.target.dataset.url);
      },
      false
    );
  }
</script>
{% endblock %}