<!doctype html>

<!--
                `.:/+oossssoo+/:.`
             `:++/:~~-:+oo+:~~-:/++:`
           .+s+.        ``        .+s+.
         `+ss/                      /ss+`
        -osss.     /o.      .o/     .ssso-
       -sssss-     `.        .`     -sssss-
      .ossssso-                    -ossssso.
 .~~~~+ssssssss+:.`   `-//-`   `.:+ssssssss+~~~~. 
ossssssssssssssssssoooso~~osooosssssssssssssssssso
ssssssssssssssssssssssso  osssssssssssssssssssssss
sssso.osssssssssssssssso  osssssssssssssssso.ossss
/oso- /sssssssssssssssssoosssssssssssssssss/ -oso/
  `   `osssssssssssssssssssssssssssssssssso`
       .osssssssssssssssssssssssssssssssso.
        .osssssssssssssssssssssssssssssso.
         `/ssssssssssssssssssssssssssss/`
           `/osssssssssssssssssssssso/`
             `/ssssssssssssssssssss/`
             +ssssssssssssssssssssss+
             :osssssssssssssssssssso:
-->

<html>
    <head>
        <title>{% block title %}NO TITLE{% endblock %} | Assets manager</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/global.css" />
    </head>

    <body>
        <main>
            {% if error %}<p class="message error">{{ error }}</p>{% endif %}
            {% if message %}<p class="message">{{ message }}</p>{% endif %}

            {% block content %}
            YOU SHOULDN'T BE SEEING THIS
            blank.html SHOULD ONLY BE EXTENDED, NEVER CALLED DIRECTLY
            {% endblock %}
        </main>
    </body>
</html>
