<!doctype html>

<html>
    <head>
        <title>{% block title %}NO TITLE{% endblock %} | Assets manager</title>
        <link rel="stylesheet" href="/static/global.css" />
    </head>

    <body>
        <header>
            <h1>Assets manager</h1>

            <nav>
                <ul>
                    <li>
                        <form class="search-form" action="/">
                            <input id="input-search" type="search" name="q" placeholder="search assets" value="{{ query }}" />
                        </form>
                    </li>
                    {% url 'create' as create_url %}
                    <li class="{% ifequal request.path create_url %}current{% endifequal %}">
                        <a href="{{ create_url }}">create new assets</a>
                    </li>
                </ul>
            </nav>


        </header>

        <main>
            {% if error %}<p class="message error">{{ error }}</p>{% endif %}
            {% if message %}<p class="message">{{ message }}</p>{% endif %}

            {% block content %}
            YOU SHOULDN'T BE SEEING THIS
            default.html SHOULD ONLY BE EXTENDED, NEVER CALLED DIRECTLY
            {% endblock %}
        </main>
    </body>
</html>
